* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #efefef;
  display: grid;
  height: 100vh;
  width: 100vw;
  padding: 2em;
  grid-template-rows: auto auto;
}
#videoInput {
  display: none;
  height: 100%;
  width: 100%;
}
#canvasOutput {
  height: 100%;
  margin: auto;
}
